<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/job.css?v=6">
</head>
<body>
    <div class="sidebar">
        <h2>🛠 관리자</h2>
        <div class="nav-item" onclick="location.href='/';">관심 정류소 보기</div>
        <div class="nav-item active" onclick="location.href='/job';">작업 관리</div>
    </div>

    <div class="content">
        <h1>작업 관리</h1>

        <div class="card">
            <form id="searchForm">
                <div class="form-row">
                    <label for="searchJobName">작업명</label>
                    <input type="text" id="searchJobName">
                    <button type="button" id="btnNavbarSearch" onclick="searchJobList();">검색</button>
                </div>
            </form>
        </div>

        <div class="action-bar">
            <button type="button" id="btnAddJob" onclick="openJobRegisterModal();">등록</button>
        </div>

        <div class="card">
            <div class="card-header">작업 목록</div>
            <div class="card-body" style="padding: 0;"></div>
        </div>
    </div>

    <!-- 작업 등록 모달 -->
    <div th:replace="~{modal/jobRegisterModal :: jobRegisterModal}"></div>
    <!-- 작업 수정 모달 -->
    <div th:replace="~{modal/jobModifyModal :: jobModifyModal}"></div>
    <!-- 실행 이력 모달 -->
    <div th:replace="~{modal/jobHistoryModal :: jobHistoryModal}"></div>


    <script type="text/javascript" src="/js/httpClient.js?v=3"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // 작업 등록 모달 초기 설정
            setupJobRegisterModal();

            // 작업 수정 모달 초기 설정
            setupJobModifyModal();

            // 실행 이력 모달 초기 설정
            setupJobHistoryModal();

            // polling 1초 마다 작업 관리 조회
            setInterval(searchJobList, 1000);
        });

        // 작업 관리 조회
        function searchJobList() {
            const jobName = document.getElementById('searchJobName').value;

            get(`/api/job?jobName=${jobName}`, function(jobInfoList) {
                const cardBody = document.querySelector('.card-body');

                cardBody.innerHTML = jobInfoList.map(jobInfo => `
                   <div class="jobcard-container" id="job-container">
                        <div class="jobcard-header">
                            <div class="left-side">
                                <span class="jobcard-name" onclick="openJobModifyModal(${jobInfo.id});">${jobInfo.jobName}</span>
                                <span class="jobcard-status jobcard-status-${jobInfo.status.toLowerCase()}">${jobInfo.status}</span>
                            </div>
                            <div class="right-side">
                                <button class="view-history-button" onclick="executeJob('${jobInfo.jobName}');">수동 실행</button>
                                <button class="view-history-button" onclick="openJobHistoryModal('${jobInfo.jobName}');">실행 이력</button>
                            </div>
                        </div>
                        <div class="jobcard-body">
                            <div><span class="jobcard-label">Cron 스케줄:</span>${jobInfo.cronExpression}</div>
                            <div><span class="jobcard-label">최근 실행:</span>${jobInfo.previousFireTime}</div>
                            <div><span class="jobcard-label">다음 실행:</span>${jobInfo.nextFireTime}</div>
                        </div>
                    </div>
                `).join('');
            });
        }

        // 작업 수동 실행
        function executeJob(jobName) {
            post(`/api/job/execute/${jobName}`, null, function() {
                alert(jobName + ' 작업이 실행되었습니다.')
            });
        }
    </script>
</body>
</html>

