<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지</title>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="sidebar">
        <h2>🛠 관리자</h2>
        <div class="nav-item active" onclick="location.href='/';">관심 정류소 보기</div>
        <div class="nav-item" onclick="location.href='/job';">작업 관리</div>
    </div>

    <div class="content">
        <h1>관심 정류소 보기</h1>

        <div id="map" style="width:500px;height:400px;"></div>
    </div>

    <!-- appkey : JavaScript 키 (또한 웹 플랫폼에 사이트 도메인도 등록되어 있어야 함) -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2b9896e6862ec303926139e843ab9a4e&libraries=clusterer"></script>
    <script type="text/javascript" src="/js/kakaoMapUtils.js"></script>
    <script type="text/javascript" src="/js/httpClient.js"></script>
    <script>
        var map;

        document.addEventListener("DOMContentLoaded", function() {
            // 지도 생성
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };
            map = new kakao.maps.Map(container, options);

            // 브라우저의 위치 정보기능 여부 확인
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getCurrentPos);
            } else {
                alert("이 브라우저는 Geolocation을 지원하지 않습니다.");
            }

            // 클릭 이벤트 등록
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                // var position = mouseEvent.latLng;
            });

            // 모든 정류소 정보 조회
            loadAllBusStop();
        });

        // 사용자의 위치 정보를 가져온 경우 호출
        function getCurrentPos(position) {
            // 현재 위치의 위도, 경도
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;

            var position = new kakao.maps.LatLng(lat, lon); // 마커 위치 (현재 위치)
            var marker = createMarker(position);
            marker.setMap(map);

            // 좌표로 지도 이동
            map.setCenter(position);
        }

        // 모든 정류소 정보 조회 (4만 개의 정류소 마커는 성능 문제가 발생하여 clusterer를 사용
        function loadAllBusStop() {
            get('/api/map/stop', function(busStopData) {

                const clusterer = new kakao.maps.MarkerClusterer({
                    map: map,
                    averageCenter: true,
                    minLevel: 4 // 클러스터 할 최소 지도 레벨
                });

                const markers = busStopData.map(stop => {
                    var marker = createMarker(new kakao.maps.LatLng(stop.lat, stop.lng), 'stop', stop.nodeName);

                    kakao.maps.event.addListener(marker, 'click', function() {
                        //showBusStopInfo(stop);
                        console.log(stop);
                    });

                    return marker;
                });

                clusterer.addMarkers(markers);
            });
        }

    </script>

</body>
</html>

